// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

$body-bg: #252836;
$main-color: #813efb;
$main-color-hover: #9964fd;
$txt-color: #fff;
$error-color: #d31919;
$container-width: 1300px;

$header-height: 72px;
$header-height-tablet: 80px;
$header-height-mobile: 56px;

$mobile-width: 450px;
$middle-width: 576px;
$tablet-width: 810px;

$font-family: "Arial";
